@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-white text-gray-900;
  }
}

body {
  background-color: #0d1425;
  background-image: linear-gradient(315deg, #003366 0%, #0d1425 74%);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #003366;
  background-image: linear-gradient(315deg, #003366 0%, #0d1425 74%);
  border-radius: 16px;
  max-width: 700px;
  min-height: 100vh;
  width: 100%;
  padding: 16px;
  /* border: 1px solid grey; */
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}
